release_sdk/
output/
.config
toolchain
tools/kconfig/conf
tools/kconfig/mconf
tools/kconfig/zconf.hash.c
tools/kconfig/zconf.lex.c
tools/kconfig/zconf.tab.c
.config.old
defconfig
prepare_memory
.last_conf
tools/post_copy_rootfs/etc/version/
**/__pycache__
**/.sconsign.dblite
board/common/gen_image_cfg/data/
board/common/post_copy_rootfs/app/
board/common/post_copy_rootfs/etc/version/
board/common/post_copy_rootfs/lib/
tools/tuning-tool-client/
*.o
*.a
*.map
*.bin
*.elf
src/.src_fetched
src/big/kmodel/
src/big/mpp/userapps/sample/elf/
src/big/mpp/userapps/sample/fastboot_elf/
src/big/nncase/
src/big/rt-smart/kernel/bsp/maix3/applications/romfs.c
src/big/rt-smart/kernel/bsp/maix3/cconfig.h
src/big/rt-smart/userapps/root/
src/big/utils/
src/common/cdk/kernel/ipcm/class/virt-tty/virt-tty_config.h
src/common/cdk/kernel/ipcm/config.log
src/common/cdk/kernel/ipcm/config.mk
src/common/cdk/kernel/ipcm/include/device_config.h
src/common/cdk/kernel/ipcm/out/
src/common/cdk/user/out/little/backchannel_client
src/common/cdk/user/out/little/camera
src/common/cdk/user/out/little/canaan-camera-dpu.sh
src/common/cdk/user/out/little/canaan-camera.sh
src/common/cdk/user/out/little/comm_client
src/common/cdk/user/out/little/red.jpg
src/common/cdk/user/out/little/rpc_client
src/common/cdk/user/out/little/rpc_server
src/common/cdk/user/out/little/rtsp_demo
src/common/cdk/user/out/little/rtsp_server
src/common/cdk/user/out/little/sample_audio
src/common/cdk/user/out/little/sample_dpu_uvc
src/common/cdk/user/out/little/sample_kplayer
src/common/cdk/user/out/little/sample_mcm
src/common/cdk/user/out/little/sample_reader
src/common/cdk/user/out/little/sample_sender
src/common/cdk/user/out/little/sample_vdec
src/common/cdk/user/out/little/sample_vdss
src/common/cdk/user/out/little/sample_venc
src/common/cdk/user/out/little/sample_vicap
src/common/cdk/user/out/little/sample_vicap_dump_lite
src/common/cdk/user/out/little/sample_virtual_vio
src/common/cdk/user/out/little/sample_vo
src/common/cdk/user/out/little/wsd_test
src/common/cdk/user/out/little/yuv_sensor_demo
src/common/cdk/user/thirdparty/live/hlsProxy/live555HLSProxy
src/common/cdk/user/thirdparty/live/mediaServer/live555MediaServer
src/common/cdk/user/thirdparty/live/proxyServer/live555ProxyServer
src/common/cdk/user/thirdparty/live/testProgs/MPEG2TransportStreamIndexer
src/common/cdk/user/thirdparty/live/testProgs/mikeyParse
src/common/cdk/user/thirdparty/live/testProgs/openRTSP
src/common/cdk/user/thirdparty/live/testProgs/playSIP
src/common/cdk/user/thirdparty/live/testProgs/registerRTSPStream
src/common/cdk/user/thirdparty/live/testProgs/sapWatch
src/common/cdk/user/thirdparty/live/testProgs/testAMRAudioStreamer
src/common/cdk/user/thirdparty/live/testProgs/testDVVideoStreamer
src/common/cdk/user/thirdparty/live/testProgs/testH264VideoStreamer
src/common/cdk/user/thirdparty/live/testProgs/testH264VideoToHLSSegments
src/common/cdk/user/thirdparty/live/testProgs/testH264VideoToTransportStream
src/common/cdk/user/thirdparty/live/testProgs/testH265VideoStreamer
src/common/cdk/user/thirdparty/live/testProgs/testH265VideoToTransportStream
src/common/cdk/user/thirdparty/live/testProgs/testMKVSplitter
src/common/cdk/user/thirdparty/live/testProgs/testMKVStreamer
src/common/cdk/user/thirdparty/live/testProgs/testMP3Receiver
src/common/cdk/user/thirdparty/live/testProgs/testMP3Streamer
src/common/cdk/user/thirdparty/live/testProgs/testMPEG1or2AudioVideoStreamer
src/common/cdk/user/thirdparty/live/testProgs/testMPEG1or2ProgramToTransportStream
src/common/cdk/user/thirdparty/live/testProgs/testMPEG1or2Splitter
src/common/cdk/user/thirdparty/live/testProgs/testMPEG1or2VideoReceiver
src/common/cdk/user/thirdparty/live/testProgs/testMPEG1or2VideoStreamer
src/common/cdk/user/thirdparty/live/testProgs/testMPEG2TransportReceiver
src/common/cdk/user/thirdparty/live/testProgs/testMPEG2TransportStreamSplitter
src/common/cdk/user/thirdparty/live/testProgs/testMPEG2TransportStreamTrickPlay
src/common/cdk/user/thirdparty/live/testProgs/testMPEG2TransportStreamer
src/common/cdk/user/thirdparty/live/testProgs/testMPEG4VideoStreamer
src/common/cdk/user/thirdparty/live/testProgs/testOggStreamer
src/common/cdk/user/thirdparty/live/testProgs/testOnDemandRTSPServer
src/common/cdk/user/thirdparty/live/testProgs/testRTSPClient
src/common/cdk/user/thirdparty/live/testProgs/testRelay
src/common/cdk/user/thirdparty/live/testProgs/testReplicator
src/common/cdk/user/thirdparty/live/testProgs/testWAVAudioStreamer
src/common/cdk/user/thirdparty/live/testProgs/vobStreamer
src/little/buildroot-ext/buildroot-9d1d4818c39d97ad7a1cdf6e075b9acae6dfff71/
src/little/buildroot-ext/dl/
src/little/buildroot-ext/package/tuning-server/

